.game-container{
    height: 90%;
    display: flex;
    justify-content: center;
}
.bar{
    height: 100%;
    width: 33%;

}

.edge-bar{
    background-color: rgba(10, 90, 200, 0.1);
    transition: 1s;
} 

.center-bar{
    display: grid;
    justify-content: center;
    align-items: center;
}

#center-bar{
    background-color: rgba(0, 0, 0, 0);
}

.center-bar-container{
    user-select: none;
    /* background-color: rgb(153, 99, 99); */
    text-align: center;
}
.count{
    font-size: 64pt;
}
.left-bar{
    display: grid;
    justify-content: center;
    align-items: center;
}
.left-bar-container{
    user-select: none;
    /* background-color: rgb(173, 118, 118); */
    text-align: center;
    display: grid;
}
.bonus{
    width: 250px;
    height: 50px;
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    transition: 0.2s;
} 
.bonus:hover{background-color: rgba(151, 100, 244, 0.5);}
.bonus:active{background-color:rgba(151, 100, 244, 0.9);}


.bonus-container{
    margin-bottom: 50px;
}
.right-bar{
    display: grid;
    justify-content: center;
    align-items: center;
}
/* .shkala{
    width: 90%;
    height: 15px;
    background-color: rgb(113, 113, 113);
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right:10px ;
    border-radius: 20px;
} */
.exp{
    height: 30%;
    width: 100%;
    background: rgb(63,94,251);
    background: linear-gradient(285deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);;
    border-radius: 20px;
}
.shkala-container{
    width: 100%;
    display: grid;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    font-size: 16pt;
    /* background-color: azure; */
}