.game-container{
    height: 90%;
    display: flex;
    justify-content: center;
}
.bar{
    height: 100%;
    width: 33%;
}

.edge-bar{
    background-color: rgba(10, 90, 200, 0.1);
    transition: 3s;
    border-radius: 10px;
    opacity: 0;
} 
.edge-bar-run{
    box-shadow: 0 0 0 1px pink;
    opacity: 100;
}
.edge-bar-run .bonus{
    box-shadow: 0 0 0 1px rgb(157, 155, 255);
}

.center-bar{
    display: grid;
    justify-content: center;
    align-items: center;
}

#center-bar{
    background-color: rgba(0, 0, 0, 0);
}

.center-bar-container{
    width: 100%;
    user-select: none;
    /* background-color: rgb(153, 99, 99); */
    text-align: center;
    /* padding: 20px; */
}
.count{
    font-size: 64pt;
    word-break: break-all;
}
.left-bar{
    display: grid;
    justify-content: center;
    align-items: center;
}
.left-bar-container{
    user-select: none;
    /* background-color: rgb(173, 118, 118); */
    text-align: center;
    display: grid;
}
.bonus{
    width: 250px;
    height: 50px;
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    transition: 0.2s;
    border-radius: 10px;
} 
.bonus:hover{background-color: rgba(151, 100, 244, 0.5);}
.bonus:active{background-color:rgba(151, 100, 244, 0.9);}


.bonus-container{
    margin-bottom: 30px;
}
.right-bar{
    display: grid;
    justify-content: center;
    align-items: center;
}
.shkala{
    width: 90%;
    height: 10px;
    background-color: rgba(113, 113, 113, 0.5);
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right:5px ;
    border-radius: 20px;
    margin: 0 auto;
}
.exp{
    height: 30%;
    width: 0%;
    background: rgb(63,94,251);
    background: linear-gradient(285deg, rgb(108, 133, 255) 0%, rgb(255, 125, 151) 100%);;
    border-radius: 20px;
    transition: 300ms;
    box-shadow: 0 0 20px 5px rgba(52, 152, 219, 0.7);
}
.shkala-container{
    width: 100%;
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    font-size: 16pt;
    /* background-color: rgba(240, 255, 255, 0.367); */
    justify-content: center;
}
.location-container{
    opacity: 0;
}